.bcursor { /* Blinking cursor... define background and height properties when created */
    margin-bottom: -4px;
    width: 2px;
    opacity: 1;
    display: inline-block;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink { /* Blink animation */
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}