::-moz-selection { /* Selection on FireFox*/
    background-color: #ff8585;
}

::selection { /* Selection general*/
    background-color: #ff8585;
}

html{ /* Scroll bar always visible */
    overflow-y: scroll;
}

body {
    background-color: #123249;
}

h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #efefef;
    text-align: center;
    text-shadow: .12rem .12rem #091d2b;
}

h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #cfcfcf;
    text-align: center;
    text-shadow: .1rem .1rem #091d2b;
}

.nav-bar, .footer, .emptyspace { /* Navigation bar */
    width: 100%;
    display: inline-block;
}

.nav-left a{ /* Left-aligned elements */
    float: left;
    text-decoration: none;
}

.personal-icon { /* Logo */
    width: 4vw;
    min-width: 30px;
    margin: 1vw 1vw;
    margin-right: 0;
    vertical-align: middle;
}

.nav-right a{ /* Right-aligned elements */
    float: right;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    color: #efefef;
    margin: 1vw 1vw;
    padding: 5px 5px;
    text-decoration: none;
    text-shadow: .1rem .1rem #091d2b;
}

.nav-right a:hover {
    color: #c2c2c2;
}

.nav-right a.active { /* Current site */
    color: #d63333;
}

.profile-picture { /* Home page portrait */
    display: block;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0.05rem 0.15rem .2rem 0rem #091d2b;
}

.fa { /* Social link icons */
    text-align: center;
    color: #efefef;
    text-decoration: none;
    text-shadow: .15rem .15rem #091d2b;
}

.fa:hover {
    color: #c2c2c2;
}

.resume-icon { /* Resume icon */
    position: relative;
    content:url('images/resume-icon.png');
    margin: 0 0;
    vertical-align: middle;
    top: -6px;
    height: 44px;
}

.resume-icon:hover {
    content:url('images/resume-icon-hover.png');
}

.credit { /* Footnote */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #cfcfcf;
    text-align: center;
    text-shadow: .1rem .1rem #091d2b;
}

.bio { /* About me */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 0 4vw;
    color: #cfcfcf;
    text-shadow: .1rem .1rem #091d2b;
}