.content-wrapper {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  overflow: scroll;
  width: 64%;
  border-radius: 25px;
  border: solid white;
  box-shadow: 0px 0px 20px white;
  background-color: #222222;
  padding: 3%;
}
